<!DOCTYPE html>
<html  lang="en" xmlns:th="http://thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/masterlayout}">
<section layout:fragment="content">
    <h1>Add A Category</h1>
    <a href="/category" class="btn btn-info">Back to Index</a>
    <div class="mt-1">
        <form method="post" th:attr="action=|/category/delete/${category.getId()}|">
            <h3>Are you Sure to delete this categogy ? <strong th:text="${category.getCategoryName}"></strong></h3>
            <button type="submit" class="btn btn-danger btn-lg">Delete This Product</button>
        </form>
    </div>
</section>

</html>